[% classname=input("Class name: ") -%]
#include "[% classname %].hpp"

[% classname %]::[% classname %]()
{
}

[% classname %]::~[% classname %]()
{
}

[% classname %]::[% classname %](const [% classname %]& other)
{
	*this = other;
}

[% classname %]&
[% classname %]::operator=(const [% classname %]& other)
{
	if (this != &other) {
		// deep copy
	}

	return *this;
}
