
[% classname=input('Class name: ')
-%]
#ifndef [% uc(classname) %]_H
#define [% uc(classname) %]_H

class [% classname %]
{
public:
	[% classname %]();
	virtual ~[% classname %]();
	[% classname %](const [% classname %]& other);
	[% classname %]& operator=(const [% classname %]& other);

private:

};

#endif

